<div class="titles">
  <div class="project-info">
    <div class="img" style="background-image:url('{{vm.proy.image}}')"></div>    
    <h2><a href = "/configuracion/{{vm.proy._id}}">{{vm.proy.nombre}}</a>
      <div class="upper-lista-empresas">
        <div ng-repeat="empresa in vm.proy.empresas">
          <h5><a class="nombre-empresa" href="empresa/{{vm.proy._id}}/{{empresa._id}}">{{empresa.nombre}}</a></h5>
        </div>
      </div>
    </h2>

  </div>
  <h1>{{vm.pageTitle}}</h1>

</div>
