<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Tablero Kanban"></upper-bar>
    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div style="overflow: auto;
    white-space: nowrap;" class="col-md-10 mm-center mm-container">

      <div class="mm-dragndrop mm-columna panel panel-default colStyle" id="{{col._id}}" ng-repeat="col in vm.columns">
        <div class="panel-heading">
          <p class="panel-title">
            <input class="input-columna" type="text" ng-blur="vm.update(col)" ng-change="col.cambio = true;" ng-model="col.nombre" />
            <a title="Nueva Tarea" style="cursor:pointer" class="ico-btn pull-right " ng-click="vm.createTask(col)">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </p>
          <!--<div class="row">
            <div class="col-lg-10">
              <p class="panel-title"><input class="input-columna" type="text" ng-blur="vm.update(col)" ng-change="col.cambio = true;" ng-model="col.nombre" /></p>
            </div>
            <div class="col-lg-2">
              <a class="ico-btn pull-right " ng-click="vm.createTask(col)">
                <span class="glyphicon glyphicon-plus"></span>
              </a>

            </div>
          </div>-->
        </div>

        <div class="panel-body">
          <div dnd-list="col.tareas" dnd-drop="callback({targetCol: col, targetIndex: index})">
            <div ng-repeat="tarea in col.tareas" dnd-draggable="tarea"
            dnd-type="'tarea'"
            dnd-effect-allowed="move"
            dnd-callback="vm.call(col, $index, targetCol, targetIndex)"
            draggable="true"
            style="margin-bottom: 10px;">
            <div>
              <b><a href="/task/{{vm.proy._id}}/{{tarea._id}}">{{tarea.nombre}}</a></b>
              <p class="mm-acortar">{{tarea.descripcion}}</p>
            </div>
            <hr class="task-separator"/>
            <img ng-repeat="res in tarea.responsables" class="responsable" width="25px" title="{{res.name}}" ng-src="{{res.thumbnail}}" />
            </div>

         </div>
       </div>

     </div>

    </div>
  </div>
</div>




<div ng-class="(vm.actualizado)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content">
    <span style="color:green;">El nombre de la columna se actualizó correctamente</span>
  </div>
</div>






<pie></pie>
