<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Muro"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-4 col-nav-discussions">


        <div class="navigation-pill">
        <h3>Discusiones</h3> <a class="ico-btn new-discussion" href="new/discusion/{{vm.proy._id}}"> <span class="glyphicon glyphicon-plus"> </span></a>
        <ul>
          <li ng-repeat="entrada in vm.discusiones">
            <a href="#{{entrada._id}}">{{entrada.titulo}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 mm-center">


      <div ng-show="vm.discusiones.length>0">
        <div ng-repeat="entrada in vm.discusiones">
          <div class="discussion">
            <div class="discussion-options">
              <!--<span class="fa fa-star-o star" aria-hidden="true"></span>-->
              <span class="glyphicon glyphicon-option-vertical"></span>
              <ul class="discussion-option-list">
                <li>
                  <a href="">Editar discusión</a>
                </li>
                <li>
                  <a href="">Borrar discusión</a>
                </li>
              </ul>
            </div>
            <div><h3 id="{{entrada._id}}"><a href="discusion/{{vm.proy._id}}/{{entrada._id}}" >{{entrada.titulo}}</a></h3></div>
            <div>{{entrada.discusion}}</div>
            <hr>
            <div class="discussion-lower">
              <span ng-click="vm.meGustaDiscusion(entrada)" class="lower-btn">
                <span class="fa fa-thumbs-o-up" ng-class="(entrada.pintar)? 'fa-thumbs-up azul': 'fa-thumbs-o-up' " aria-hidden="true"></span>
                <span class="text">{{entrada.likes.length>0?entrada.likes.length:''}} Me gusta</span>
              </span>
              <span ng-click="vm.enviarTarea(entrada.discusion,entrada.titulo)" class="lower-btn">
                <span class="fa fa-tasks" aria-hidden="true"></span>
                <span class="text">a tareas</span>
              </span>
              <!--<span class="lower-btn">
                <span class="fa fa-comment-o comment-ico" aria-hidden="true"></span>
                <span class="text">comentar</span>
              </span>-->
            </div>
          </div>
          <!--<div class="mm-contenedor-comentarios mm-margen-negativo">
            <div class="mm-comentario" ng-repeat="comentario in entrada.comentarios">
              <img class="mm-thumbnail" width="25px" title="{{comentario.autor.name}}" ng-src="{{comentario.autor.thumbnail}}" />
              <span style="color:#333">
                {{comentario.texto}}
              </span>
              <span class="pull-right" title="{{comentario.fecha|date:'HH:mm:ss'}}">
                {{comentario.fecha|date:'dd/MM/yyyy'}}
              </span>
              <div class="discussion-lower">
                <span class="lower-btn">
                  <span class="fa fa-thumbs-o-up" aria-hidden="true" ></span>
                  <span class="lower-btn-text">Me gusta</span>
                </span>
                <span class="lower-btn">
                  <span class="fa fa-tasks" aria-hidden="true"></span>
                  <span class="lower-btn-text">Enviar a Tareas</span>
                </span>
                <span class="lower-btn">
                  <span class="fa star" ng-class="(comentario.hallazgo)? 'fa-star': 'fa-star-o' "
                  aria-hidden="true" ng-click="vm.addTakeaway(comentario)"></span>
                  <span class="lower-btn-text">Destacar</span>
                </span>
              </div>
            </div>
            <form ng-submit="vm.onSubmit(entrada)">
              <div class="mm-comentario">
                <div class="input-group">
                  <span class="input-group-addon"><img class="mm-thumbnail" width="20px" ng-src="{{vm.user.thumbnail}}" /></span>
                  <input type="text" class="form-control" placeholder="Ingrese un comentario" ng-model="entrada.nuevoComentario" />
                </div>
              </div>
            </form>
          </div>-->

        </div>
      </div>

    </div>

    <!--
    <div class="col-md-3 mm-columa-derecha col-takeaways">
      <div class="takeaways">
        <h3>Destacados</h3>
          <ul class="takeaway-list">
            <li ng-repeat="d in vm.destacados">
              <div class="takeaway-text">
                {{d.texto}}
              </div>
              <div class="takeaway-options">
                <span class="glyphicon glyphicon-option-vertical"></span>
                <ul class="takeaway-option-list">

                  <li>
                    <a href="">Eliminar</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
      </div>
    </div>
    -->
  </div>
</div>


<pie></pie>
