<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Muro - Nueva Discusión"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-10 mm-center">
      <form class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="form-group col-xs-12">
            <label for="titulo">Título: </label>
            <input class="form-control" type="text" placeholder="Título de la discusión" name="titulo" ng-model="vm.datos.titulo"/>
            <label for="titulo">Discusión: </label>
            <textarea rows="8" class="form-control" ng-model="vm.datos.discusion" placeholder="Discusión"></textarea>
        </div>

        <div class="form-group col-xs-12">
          <button type="button" ng-click="vm.volver()" class="btn btn-default">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right">Crear Discusión</button>
        </div>
      </form>

    </div>
  </div>
</div>







<div ng-class="(vm.saved)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content alert alert-success">
    <center>
      <strong>Se guardó exitosamente la discusión.</strong>
    </center>
  </div>
</div>

<pie></pie>
