<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Hoja de Ruta - Nuevo Hito"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-10 mm-center">
      <form class="form-horizontal" ng-submit="vm.onSubmit()">
        <h3>Nuevo Hito</h3>
        <div class="form-group col-xs-12">

            <input class="form-control" type="text" placeholder="Nombre Hito" name="nombre" ng-model="vm.datos.nombre"/>

        </div>
        <div>
          <h3>Asignar tareas a este hito:</h3>
          <div class="mm-inline" style="margin-right:5px" ng-repeat="tarea in vm.tareasSinHito">
            <label class="btn btn-default" title="{{tarea._id}}"><input type="checkbox" name="tareas[]" ng-click="vm.toggle(tarea._id)" value="tarea._id" /> {{tarea.nombre}} </label>
          </div>
        </div>
        <br />
        <span  ng-show="vm.saved" style="color:green">Se guardó exitosamente el hito</span>
        <div  class="form-group col-xs-12">
          <button type="button" ng-click="vm.volver()" class="btn btn-default">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right">Crear Hito</button>
        </div>
      </form>

    </div>
  </div>
</div>

<pie></pie>
