<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Reuniones - Nueva Reunión"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-10 mm-center">
      <form class="form-horizontal" ng-submit="vm.onSubmit()">
        <h3>Nueva Reunión</h3>
        <div class="form-group col-xs-12">
            <input class="form-control" type="text" placeholder="Título Reunión" name="nombre" ng-model="vm.datos.nombre"/>
        </div>
        <div class="form-group col-xs-12">
            <textarea class="form-control" rows="6" name="objetivos" placeholder="Objetivos de la reunión" ng-model="vm.datos.objetivos"></textarea>
        </div>
        <div class="form-group col-xs-12">


        <fieldset class="form-inline">
          <div class='input-group col-xs-3'>
            <input jqdatepicker ng-model="vm.datos.fecha" type='text' class="form-control" placeholder="Fecha de la reunión" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <div class='input-group'>
            <input jqtimepicki ng-model="vm.datos.horaini" type='text' class="form-control" placeholder="Hora de inicio de la reunión" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
          <div class='input-group'>
            <input jqtimepicki ng-model="vm.datos.horafin" type='text' class="form-control" placeholder="Hora de término de la reunión" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
        </fieldset>
        </div>
        <div class="form-group col-xs-12">
          <input ng-model="vm.datos.lugar" type="text" class="form-control" placeholder="Lugar de la reunión" />
        </div>
        <div class="form-group col-xs-12">
          <label>Participantes: </label>
          <input ng-model="vm.aux" type="text" class="form-control" ng-blur="vm.onBlur()" ng-keyup="vm.cambio($event)" placeholder="Participantes separados por coma." />
        </div>
        <div ng-repeat="name in vm.datos.participantes">
          <span class="label label-default">{{name}}<span class="glyphicon glyphicon-remove" ng-click="vm.remove(name)"></span></span>
        </div>
        <br />
        <span  ng-show="vm.saved" style="color:green">Se guardó exitosamente la reunión</span>
        <div  class="form-group col-xs-12">
          <button type="button" ng-click="vm.volver()" class="btn btn-default">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right">Crear Reunión</button>
        </div>
      </form>

    </div>
  </div>
</div>

<pie></pie>
