<navigation></navigation>


<div class="container-fluid text-left">
  <div class="row mm-content" ng-hide="">
    <!--<project></project>-->

    <div class="col-md-2">
      <h3>{{vm.proy.nombre}}</h3>
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="project/{{vm.proy._id}}"><p>Muro</p></a>
        <a class="btn btn-default" href="kanban/{{vm.proy._id}}"><p>Tablero Kanban</p></a>
        <a class="btn btn-default" href="ruta/{{vm.proy._id}}"><p>Hoja de Ruta</p></a>
        <a class="btn btn-default" href="#"><p>Documentación</p></a>
        <a class="btn btn-default" href="#"><p>Reuniones</p></a>
        <a class="btn btn-default" href="participants/{{vm.proy._id}}"><p>Participantes</p></a>
      </div>
    </div>

    <div class="col-md-10 mm-center">
      <form class="form-horizontal" ng-submit="vm.onSubmit()">
        <h3>Participantes</h3>
        <div class="mm-inline" style="margin-right:5px" ng-repeat="participantes in vm.participantes">
            <label class="btn btn-default" title="{{participantes._id}}"> {{participantes.name}} <br /> {{participantes.email}} </label>
        </div>

        <div>
          <h3>Mentores recomendados para este proyecto:</h3>
          <div class="mm-inline" style="margin-right:5px" ng-repeat="mentor in vm.mentores">
            <label class="btn btn-default" title="{{mentor._id}}"><input type="checkbox" name="mentores[]" ng-click="vm.toggle(mentor._id)" value="mentor._id" /> {{mentor._source.name}} <br /> {{mentor._source.email}} </label>
          </div>
        </div>
        <br />
        <span  ng-show="vm.saved" style="color:green">Se guardaron exitosamente los participantes</span>
        <div  class="form-group col-xs-12">
          <button type="button" ng-click="vm.volver()" class="btn btn-default">Cancelar</button>
          <button type="submit" class="btn btn-primary pull-right">Agregar participantes</button>
        </div>
      </form>

    </div>
  </div>
</div>
