<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Reuniones"></upper-bar>
    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-8 mm-center">
      <h3>Mis reuniones</h3>
      <div class="mm-date" ng-repeat="reunion in vm.reuniones">
        <div class="mm-inline">
          <h4>{{reunion.fecha|date:"EEEE d ' de 'MMMM, yyyy"}}</h4>
        </div>
        <div class="mm-inline">
          de {{reunion.horaini|date:'HH:mm'}} a {{reunion.horafin|date:'HH:mm'}}
        </div>
        <div>
          <strong>{{reunion.nombre}}</strong>

          <div class="pull-right">
            <div class="mm-inline" ng-repeat="participante in reunion.participantes">
              <span title="{{participante}}" class="glyphicon glyphicon-user"></span>
            </div>
          </div>
        </div>
        <div>
          <strong>Lugar : </strong>{{reunion.lugar}}
        </div>
        <div>
          <strong>Objetivos : </strong>{{reunion.objetivos}}
        </div>
        <hr />
      </div>

      <!--<div ng-show="mes.reuniones.length>0" ng-repeat="mes in vm.meses">
        <h3>{{mes.mes}}</h3>
        <div class="row" ng-class="reunion.hoy?'mm-today':'mm-date'" ng-repeat="reunion in mes.reuniones">
          <div class="mm-inline">
            {{reunion.fecha|date:'dd/MM/yy'}}
          </div>
          <div class="mm-inline">
            {{reunion.horaini|date:'HH:mm'}} - {{reunion.horafin|date:'HH:mm'}}
          </div>
          <div class="mm-inline mm-lugar">
            {{reunion.lugar}}
          </div>
          <div class="mm-inline">
            <strong>{{reunion.nombre}}</strong>
          </div>
        </div>
      </div>-->
    </div>

    <div class="col-md-2 mm-columa-derecha">
      <div style="margin-top:20px;">
        <center>
          <a class="btn btn-default" href="new/reunion/{{vm.proy._id}}">Nueva Reunión <span class="glyphicon glyphicon-plus"></span></a>
        </center>
      </div>
    </div>
  </div>










</div>

<pie></pie>
