<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Hoja de Ruta"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div ng-show="vm.hitos.length>0" class="col-md-8 mm-center">
      <div ng-repeat="hito in vm.hitos">
        <div class="mm-inline hito">
          <center ng-hide="$first"><b>|</b></center>
          <div class="mm-circulo color-blanco">
              <span></span><p>{{hito.nombre}}</p>
          </div>

        </div>
        <ul class="mm-inline">
          <li class="mm-inline" ng-repeat="tarea in hito.tareas">
                <span><a href="/task/{{vm.proy._id}}/{{tarea._id}}">{{tarea.nombre}}</a></span>
          </li>
        </ul>
      </div>
    </div>

    <div ng-show="vm.hitos.length<=0" class="col-md-8 mm-center">
      <center>
        <img src="/images/no-route.png" height="300"/>
        <h3 class="color-gris">No has generado una hoja de ruta para tu proyecto. Con una hoja de ruta puedes crear hitos para agrupar tus actividades y medir de manera más fácil su progreso.</h3>
      </center>
    </div>

    <div class="col-md-2 mm-columa-derecha">
      <div style="margin-top:20px;">
        <center>
          <a type="button" class="btn btn-primary" href="/new/hito/{{vm.proy._id}}/{{vm.numHitos}}">Agregar Hito <span class="glyphicon glyphicon-plus"></span></a>
        </center>
      </div>
    </div>
  </div>
</div>

<pie></pie>
