<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Tablero Kanban - Tarea"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>


    <div class="col-md-10 mm-center">
      <div class="row">
        <div class="col-md-10">
          <h2>Tarea : {{vm.tarea.nombre}}</h2>
        </div>
        <div style="margin-top: 20px;" class="col-md-2">
          <div class="task-option-container">
            <span class="glyphicon glyphicon-option-vertical"></span>
            <ul class="task-option-list">
              <li>
                <a href="/edit/task/{{vm.proy._id}}/{{vm.tarea._id}}">Editar Tarea</a>
              </li>
              <li>
                <a ng-click="vm.mostrarEliminar = true;">Eliminar Tarea</a>
              </li>
            </ul>
          </div>
          <div class="mm-caja text-center">
            {{vm.tarea.columna}}
          </div>
        </div>
      </div>
      <hr class="mm-linea" />
      <div class="row">
        <div class="col-md-6">
          Inicia el {{vm.tarea.fechaini| date: 'dd/MM/yyyy'}}
        </div>
        <div class="col-md-6 text-right">
          Fin tarea: {{vm.tarea.fechafin| date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <br />

      <div >
          Responsable(s):

            <span class="mm-responsable" ng-repeat="encargado in vm.tarea.responsables">
              <a href="profile/{{encargado._id}}">{{encargado.name}}<img class="pull-right responsable" width="25px" ng-src="{{encargado.thumbnail}}" /> </a>
            </span>

          <br />
          <br />
          <div class="row">
            <div class="col-md-8">
              {{vm.tarea.descripcion}}
            </div>
            <div class="col-md-3 box-documents">
                Documento:
                <a href="{{vm.tarea.documentos[0].url}}" download={{vm.tarea.documentos[0].nombre}} target="_self" >{{vm.tarea.documentos[0].nombre}}</a>
            </div>
          </div>

          <div style="margin-top:-6px;" class="pull-right">
            <span>Creada por <a href="profile/{{vm.tarea.creador._id}}">{{vm.tarea.creador.name}}</a>
              <img class="mm-thumbnail" width="25px" ng-src="{{vm.tarea.creador.thumbnail}}" />
            </span>
          </div>
      </div>

      <hr class="mm-linea"/>

      <div class="row">
        <div class="col-md-8">
          <div class="mm-contenedor-comentarios">

            <div class="mm-comentario" ng-repeat="comentario in vm.tarea.comentarios">
              <a href="profile/{{comentario.autor._id}}"><img class="mm-thumbnail" width="25px" title="{{comentario.autor.name}}" ng-src="{{comentario.autor.thumbnail}}" /></a>
              <span style="color:#333">
                {{comentario.texto}}
              </span>
              <span class="pull-right" title="{{comentario.fecha|date:'HH:mm:ss'}}">
                {{comentario.fecha|date:'dd/MM/yyyy'}}
              </span>
            </div>
            <form ng-submit="vm.onComment()">
              <div class="mm-comentario">
                <div class="input-group">
                  <span class="input-group-addon"><img class="mm-thumbnail" width="20px" ng-src="{{vm.user.thumbnail}}" /></span>
                  <input type="text" class="form-control" placeholder="Ingrese un comentario" ng-model="vm.comentario" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div ng-class="(vm.mostrarEliminar)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content alert alert-warning">
    <a href="#" ng-click="vm.mostrarEliminar = false" class="close"  aria-label="close">&times;</a>
    <center>
      <strong>¿Está seguro que desea eliminar la tarea?</strong>
      <br /><br />
      <button class="btn btn-warning" ng-click="vm.eliminarTarea()">Eliminar</button>
    </center>
  </div>
</div>

<div ng-class="(vm.mostrarError)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content alert alert-danger">
    <a href="#" ng-click="vm.mostrarEliminar = false" class="close"  aria-label="close">&times;</a>
    <center>
      <strong>ERROR: {{vm.mensajeError}}</strong>
    </center>
  </div>
</div>


<div ng-class="(vm.eliminada)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content alert alert-success">
    <a href="#" ng-click="vm.mostrarEliminar = false" class="close"  aria-label="close">&times;</a>
    <center>
      <strong>La tarea se eliminó correctamente.</strong>
    </center>
  </div>
</div>

<pie></pie>
