html, body {
  height: 100%; }

body {
  /*background-color: lighten($main-light, 37);*/
  color: #555;
  height: 100%; }

h1, h2, h3 {
  font-family: 'Varela Round', sans-serif; }

.activar .error {
  color: red; }

.perfil {
  display: flex; }
  .perfil .imagen {
    width: 30%; }
  .perfil .datos {
    width: 60%; }
    .perfil .datos div {
      margin-bottom: 10px; }

.logo-container {
  max-height: 200px;
  max-width: 200px; }
  .logo-container img {
    max-height: 200px;
    max-width: 200px; }
  .logo-container .editar {
    position: relative;
    top: -20px;
    right: 0px;
    display: block;
    border-radius: 5px 5px 0px 0px;
    background-color: #b7b7b7;
    text-align: center;
    cursor: pointer;
    width: 100%; }

.input-columna {
  border-style: none;
  background: transparent;
  max-width: 120px;
  text-transform: uppercase; }

.upper-lista-empresas {
  display: flex;
  justify-content: flex-start; }
  .upper-lista-empresas div {
    display: block;
    padding: 5px; }
  .upper-lista-empresas .nombre-empresa {
    color: #F49515; }

.mm-miembro {
  transition: background 500ms;
  border-radius: 10px;
  position: relative; }
  .mm-miembro .glyphicon-remove {
    transition: opacity 500ms;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: #FA4D09;
    opacity: 0; }
  .mm-miembro:hover .glyphicon-remove {
    opacity: 1; }

.normal {
  background-color: #d9edf7; }

.resaltado {
  background-color: #78c9f9; }

.box-documents {
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px #ccc;
  box-shadow: 1px 3px 3px #cccccc;
  margin-bottom: 10px;
  background-color: #FFF; }

.contenedor-participantes {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%; }
  .contenedor-participantes .mm-invitador ul {
    list-style: none;
    padding: 0px; }

.cajita {
  color: #17A2F4;
  border-color: #17A2F4;
  border-style: double;
  padding: 10px;
  margin: 10px;
  border-radius: 5px; }

.mm-nuevo-proyecto {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }
  .mm-nuevo-proyecto .mm-recomendar-mentores {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #ECBD00;
    border-radius: 5px;
    width: 100%;
    padding: 20px; }
    .mm-nuevo-proyecto .mm-recomendar-mentores h3 {
      text-align: center;
      display: block;
      width: 100%; }
    .mm-nuevo-proyecto .mm-recomendar-mentores .mm-mentor {
      display: block;
      width: 20%; }
      .mm-nuevo-proyecto .mm-recomendar-mentores .mm-mentor .mm-mentor-img {
        border: 1px solid gray;
        cursor: pointer; }
        .mm-nuevo-proyecto .mm-recomendar-mentores .mm-mentor .mm-mentor-img.seleccionada {
          box-shadow: 0px 0px 2px 3px #17A2F4; }
  .mm-nuevo-proyecto .mm-buscador {
    display: block; }
    .mm-nuevo-proyecto .mm-buscador .mm-tabla-buscador {
      margin-bottom: 20px; }
      .mm-nuevo-proyecto .mm-buscador .mm-tabla-buscador .glyphicon-remove-sign {
        cursor: pointer; }

.mm-botones {
  display: flex;
  justify-content: space-around;
  padding: 20px; }

.mm-participante td {
  border-bottom: 1px solid black;
  padding: 10px; }

.project-card {
  border-radius: 10px;
  display: flex;
  float: left;
  position: relative;
  width: 40%;
  margin-left: 10px;
  margin-top: 10px;
  border: solid 1px #ccc;
  box-shadow: 1px 3px 3px #cccccc; }
  .project-card .project-card-logo {
    height: 200px;
    width: 200px;
    background-size: auto 200px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 10px 0px 0px 10px; }
  .project-card .project-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
    /*position: absolute;*/
    bottom: 0px;
    color: #FFF;
    transition: 350ms ease; }
    .project-card .project-card-text h3 a {
      color: #FFF; }
    .project-card .project-card-text .project-card-date {
      font-size: 0.8em;
      font-style: italic;
      text-align: right;
      padding-right: 3px; }
    .project-card .project-card-text .project-card-members .member-list {
      display: inline-block;
      position: relative; }
      .project-card .project-card-text .project-card-members .member-list img {
        max-height: 30px;
        max-width: 30px;
        border-radius: 50%; }
      .project-card .project-card-text .project-card-members .member-list:hover ul {
        display: block; }
  .project-card:hover .project-card-text {
    opacity: 1; }

.member-list ul {
  position: absolute;
  display: none;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px #ccc;
  box-shadow: 1px 3px 3px #cccccc;
  margin-bottom: 10px;
  background-color: #FFF;
  padding: 0px;
  width: 200px;
  left: 0px;
  top: 30px;
  z-index: 1; }
  .member-list ul li {
    padding: 5px 10px;
    display: block;
    color: #555;
    text-align: left; }
    .member-list ul li:last-child {
      border-radius: 0px 0px 10px 10px; }
    .member-list ul li:first-child {
      border-radius: 10px 10px 0px 0px;
      text-align: center; }

.mm-modal {
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  .mm-modal .mm-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); }
    .mm-modal .mm-modal-content .glyphicon-remove {
      float: right;
      cursor: pointer;
      color: #FA4D09; }

.mm-ocultar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms; }

.mm-mostrar {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms; }

.bordes-redondos {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 3px; }

ul.mm-lista {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0px; }
  ul.mm-lista li {
    display: inline-block;
    margin-top: 1px; }
    ul.mm-lista li input {
      border: none;
      outline: none;
      width: 100%;
      padding: 6px 12px; }
      ul.mm-lista li input:read-only {
        background-color: #eee; }
    ul.mm-lista li span.glyphicon-remove {
      color: #FA4D09;
      cursor: pointer;
      transition: opacity 500ms ease;
      opacity: 0; }
    ul.mm-lista li:hover span.glyphicon-remove {
      opacity: 1; }

.deshabilitado {
  background-color: #eee; }

.glyphicon-pencil {
  cursor: pointer; }

.mm-element {
  border: 1px dotted gray;
  border-radius: 4px;
  padding: 2px; }

.mm-margen-negativo {
  margin-top: -15px; }

.project-info {
  /*display: inline-block;
  margin-left: 10%;
  padding-top: 10px;
  width: 100%;
  img{
    position: relative;
    max-height: 100px;
    display: inline-block;
    border-radius: 50%;
    transition: 500ms ease;
    z-index: 10;
    &:hover{
      transform: scale(1.5) ;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    }
  }
  h2{display: inline-block; font-size: 1.7em;width: 50%;}
  */
  display: flex;
  align-items: flex-end;
  margin-left: 10%;
  padding-top: 10px;
  width: 100%; }
  .project-info .img {
    position: relative;
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position: center center;
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    transition: 500ms ease;
    z-index: 10; }
    .project-info .img:hover {
      transform: scale(1.5);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); }
  .project-info h2 {
    display: inline-block;
    font-size: 1.7em;
    width: 50%; }

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }

.ocultar {
  display: none; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -140px; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  height: 140px; }

.site-footer {
  border-top: solid 1px #aaaaaa;
  background: #b7b7b7;
  padding: 10px 40px;
  position: relative; }
  .site-footer a {
    text-decoration: none;
    color: #5e5e5e;
    font-weight: bold; }
    .site-footer a:hover {
      color: #5e5e5e; }
  .site-footer .author {
    /* float: right; */
    height: 140px;
    vertical-align: bottom;
    line-height: 140px;
    position: absolute;
    right: 20px;
    top: 20px; }
  .site-footer .footer-branding {
    position: absolute;
    left: 20px;
    top: 20px; }
    .site-footer .footer-branding img {
      max-height: 60px; }
  .site-footer .contact-info {
    position: absolute;
    right: 20%;
    top: 20px;
    font-size: 0.8em; }

.mm-container-tareas {
  height: 100px; }

nav {
  color: #FFF;
  background-color: #444;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  nav a {
    color: #FFF; }
  nav .brand {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px; }
    nav .brand img {
      max-height: 55px; }
  nav ul.navigation {
    margin-bottom: 0px; }
    nav ul.navigation li {
      list-style: none;
      display: inline-block;
      /*font-family: 'Varela Round', sans-serif;*/
      font-size: 1.1em;
      margin-right: 20px;
      padding-bottom: 10px;
      position: relative; }
      nav ul.navigation li a {
        text-decoration: none; }
      nav ul.navigation li::after {
        content: '';
        height: 0px;
        background-color: #ECBD00;
        width: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        transition: 100ms linear; }
      nav ul.navigation li:hover a {
        color: #FFF; }
      nav ul.navigation li:hover::after {
        height: 5px; }

.user-info {
  margin-right: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-end; }
  .user-info .user-image {
    cursor: pointer; }
    .user-info .user-image img {
      max-height: 60px;
      border-radius: 50%; }
    .user-info .user-image:hover .user-options {
      display: block; }
  .user-info .user-text {
    margin-right: 10px;
    font-family: 'Varela Round', sans-serif; }
    .user-info .user-text .user-name {
      font-weight: bold;
      font-size: 1.1em; }
    .user-info .user-text .user-role {
      font-size: 0.9em; }

ul.user-options {
  position: absolute;
  display: none;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px #ccc;
  box-shadow: 1px 3px 3px #cccccc;
  margin-bottom: 10px;
  background-color: #FFF;
  padding: 0px;
  width: 120px;
  right: 10px; }
  ul.user-options li {
    padding: 5px 10px;
    display: block; }
    ul.user-options li a {
      color: #444;
      text-decoration: none; }
    ul.user-options li:hover {
      background-color: #0a85ce; }
      ul.user-options li:hover a {
        color: #FFF; }
    ul.user-options li:last-child {
      border-radius: 0px 0px 10px 10px; }
    ul.user-options li:first-child {
      border-radius: 10px 10px 0px 0px; }

.navbar {
  border: none; }

.navbar-default {
  background-color: #444;
  color: #FFF;
  /*height: 70px;*/ }
  .navbar-default .container-fluid {
    background-color: #444;
    color: #FFF;
    /*height: 70px;*/
    border-bottom: solid 2px #FA4D09; }

.navbar-brand img {
  max-height: 45px;
  transform: translateY(-13px); }

.nav.navbar-nav li a {
  color: #FFF;
  text-shadow: none;
  position: relative; }
  .nav.navbar-nav li a::after {
    content: '';
    height: 0px;
    background-color: #ECBD00;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 200ms linear; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .nav.navbar-nav a:hover {
  color: #FFF;
  background-color: rgba(244, 149, 21, 0.1); }
  .navbar-default .navbar-nav > li > a:focus::after, .navbar-default .navbar-nav > li > a:hover::after, .nav.navbar-nav a:hover::after {
    height: 3px; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #FFF; }

.side-menu-background {
  height: 100%;
  position: absolute;
  background-color: #F49515; }

.side-menu {
  /*margin-top: 80px;*/ }
  .side-menu .side-menu-item {
    position: relative;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    transition: 200ms ease;
    margin-bottom: 20px;
    /*width: 60px;
    height: 60px;*/
    /*&::after{
      position: absolute;
      content:'';
      width: 100%;
      height: 1px;
      background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #A76710));
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
    }*/ }
    .side-menu .side-menu-item .menu-icon {
      position: inherit;
      width: 40px;
      display: block;
      width: 56px;
      height: 56px;
      align-items: center;
      align-items: center;
      border-radius: 50%;
      transition: 200ms ease; }
    .side-menu .side-menu-item img {
      display: block;
      max-width: 40px;
      max-height: 35px;
      margin: auto;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .side-menu .side-menu-item p {
      position: absolute;
      /* hyphens: auto;*/
      white-space: nowrap;
      display: block;
      color: #FFF;
      font-size: 0.85em;
      text-align: center;
      /*$menu-icon-width+25px;*/
      left: -15px;
      bottom: -18px;
      /*background-color: darken($complementary-color,10);*/
      z-index: 1;
      padding: 5px 10px;
      transition: 200ms ease;
      border-radius: 0px 5px 5px 0px;
      font-family: 'Varela Round', sans-serif;
      width: 100px;
      text-shadow: 0px 0px 1px #FA4D09; }
    .side-menu .side-menu-item:hover .menu-icon {
      background-color: #f9c176;
      transform: scale(1.3);
      z-index: 2;
      /*border: solid 1px darken($complementary-color,10);*/
      /*box-shadow: -3px 3px 3px #777;*/ }
    .side-menu .side-menu-item:hover p {
      display: block;
      transform: scale(1.3) translateY(12px);
      z-index: 3; }
  .side-menu .side-menu-item.active .menu-icon {
    background-color: #f9c176; }
  .side-menu .side-menu-item.active p {
    transform: translateY(12px); }

.col-side-menu {
  background-color: #F49515;
  /*transform: translateY(-1px);
  height: 100%;
  min-height: 600px;*/ }
  .col-side-menu h3 {
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px; }

.container-inicio {
  display: flex;
  justify-content: space-between; }
  .container-inicio .mensaje-inicio {
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px #ccc;
    box-shadow: 1px 3px 3px #cccccc;
    margin-bottom: 10px;
    background-color: #FFF;
    width: 450px; }
    .container-inicio .mensaje-inicio .logo {
      background-color: #444;
      border-radius: 4px;
      height: 25px; }
  .container-inicio .video {
    width: 420px; }

.task-option-container {
  float: right;
  display: block;
  width: 10px;
  margin-left: 10px; }
  .task-option-container .task-option-list {
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px #ccc;
    box-shadow: 1px 3px 3px #cccccc;
    margin-bottom: 10px;
    background-color: #FFF;
    padding: 0px;
    display: none;
    position: absolute;
    list-style-type: none;
    margin-left: -130px;
    width: 150px;
    z-index: 1;
    cursor: pointer; }
  .task-option-container:hover .task-option-list {
    display: block; }
    .task-option-container:hover .task-option-list li {
      display: block;
      padding: 10px 20px; }
      .task-option-container:hover .task-option-list li:hover {
        background-color: #17A2F4; }
        .task-option-container:hover .task-option-list li:hover a {
          color: white; }
      .task-option-container:hover .task-option-list li:first-child {
        border-radius: 10px 10px 0px 0px; }
      .task-option-container:hover .task-option-list li:last-child {
        border-radius: 0px 0px 10px 10px; }

.color-complementario {
  color: #17A2F4; }

.discussion {
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px #ccc;
  box-shadow: 1px 3px 3px #cccccc;
  margin-bottom: 10px;
  background-color: #FFF;
  position: relative; }
  .discussion .discussion-options {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3em; }
    .discussion .discussion-options ul.discussion-option-list {
      padding: 10px 20px;
      border-radius: 10px;
      border: solid 1px #ccc;
      box-shadow: 1px 3px 3px #cccccc;
      margin-bottom: 10px;
      background-color: #FFF;
      display: none;
      position: absolute;
      padding: 0px;
      right: -10px;
      width: 150px; }
      .discussion .discussion-options ul.discussion-option-list li {
        padding: 5px 10px;
        display: block;
        font-size: 0.7em; }
        .discussion .discussion-options ul.discussion-option-list li a {
          color: #444;
          text-decoration: none; }
        .discussion .discussion-options ul.discussion-option-list li:hover {
          background-color: #0a85ce; }
          .discussion .discussion-options ul.discussion-option-list li:hover a {
            color: #FFF; }
        .discussion .discussion-options ul.discussion-option-list li:last-child {
          border-radius: 0px 0px 10px 10px; }
        .discussion .discussion-options ul.discussion-option-list li:first-child {
          border-radius: 10px 10px 0px 0px; }
    .discussion .discussion-options:hover ul.discussion-option-list {
      display: block; }
  .discussion .discussion-lower {
    background-color: #f7f7f7;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px 15px;
    border-radius: 0px 0px 10px 10px; }
    .discussion .discussion-lower .lower-btn {
      font-size: 1.2em; }
      .discussion .discussion-lower .lower-btn .text {
        font-size: 1em; }

.lower-btn {
  font-size: 1.1em;
  color: #919191;
  margin-right: 15px;
  display: inline-block;
  position: relative;
  cursor: pointer; }
  .lower-btn .text {
    font-size: 0.6em; }
  .lower-btn .lower-btn-text {
    font-size: 0.9em;
    display: none;
    position: absolute;
    bottom: -1.2em;
    width: 200px; }
  .lower-btn:hover .lower-btn-text {
    display: block; }
  .lower-btn .comment-ico {
    transform: scale(-1, 1); }

.rojo {
  color: red; }

.azul {
  color: #17A2F4; }

.doc-container {
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px #ccc;
  box-shadow: 1px 3px 3px #cccccc;
  margin-bottom: 10px;
  background-color: #FFF; }
  .doc-container ul {
    padding: 0px; }
    .doc-container ul li {
      list-style: none;
      text-decoration: none;
      padding: 10px; }
    .doc-container ul li:not(:first-child) {
      border-top: solid 1px rgba(204, 204, 204, 0.3); }

.col-nav-discussions {
  padding: 20px;
  position: relative; }
  .col-nav-discussions .btn {
    margin-bottom: 10px; }
  .col-nav-discussions .navigation-pill {
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px #ccc;
    box-shadow: 1px 3px 3px #cccccc;
    margin-bottom: 10px;
    background-color: #FFF;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
    background-color: #f9f9f9; }
  .col-nav-discussions h3 {
    color: #444;
    width: 100%;
    text-align: center;
    margin-top: 10px; }
  .col-nav-discussions ul {
    padding: 0px; }
    .col-nav-discussions ul li {
      list-style: none;
      text-decoration: none;
      border-top: solid 1px rgba(204, 204, 204, 0.3);
      padding: 10px 20px; }

.col-takeaways {
  padding: 20px; }
  .col-takeaways .takeaways {
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px #ccc;
    box-shadow: 1px 3px 3px #cccccc;
    margin-bottom: 10px;
    background-color: #FFF;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    min-height: 300px; }
    .col-takeaways .takeaways h3 {
      color: #444;
      width: 100%;
      text-align: center;
      margin-top: 10px; }
    .col-takeaways .takeaways ul.takeaway-list .takeaway-element {
      list-style: none;
      position: relative;
      margin-top: 5px;
      padding-top: 5px;
      border-top: solid 1px rgba(204, 204, 204, 0.3); }
      .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options {
        position: absolute;
        top: 5px;
        right: 0px; }
        .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options:hover ul.takeaway-option-list {
          display: block;
          z-index: 1; }
        .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options ul.takeaway-option-list {
          padding: 10px 20px;
          border-radius: 10px;
          border: solid 1px #ccc;
          box-shadow: 1px 3px 3px #cccccc;
          margin-bottom: 10px;
          background-color: #FFF;
          display: none;
          position: absolute;
          padding: 0px;
          right: -10px;
          width: 80px; }
          .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options ul.takeaway-option-list li {
            padding: 5px 10px;
            display: block;
            font-size: 0.7em; }
            .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options ul.takeaway-option-list li a {
              color: #444;
              text-decoration: none; }
            .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options ul.takeaway-option-list li:hover {
              /*background-color: darken($complementary-dark,10);*/ }
              .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options ul.takeaway-option-list li:hover a {
                color: #0a85ce; }
            .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options ul.takeaway-option-list li:last-child {
              border-radius: 0px 0px 10px 10px; }
            .col-takeaways .takeaways ul.takeaway-list .takeaway-element .takeaway-options ul.takeaway-option-list li:first-child {
              border-radius: 10px 10px 0px 0px; }

.btn, .btn-large {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  background-color: #FFF;
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.btn-primary {
  background-image: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  background-color: #17A2F4; }
  .btn-primary:hover {
    background-color: #48b6f6;
    color: #fff; }

.btn-default {
  background-image: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
  background-color: #dddddd;
  color: #777;
  text-shadow: none; }
  .btn-default:hover {
    background-color: #eaeaea;
    color: #777;
    text-shadow: none; }

.ico-btn span {
  text-decoration: none;
  color: #17A2F4;
  font-size: 1.8em;
  /*text-shadow: 2px 2px 0px darken($complementary-color, 20);*/
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.14);
  transition: 200ms ease; }
  .ico-btn span:hover {
    color: #60bff7; }

.new-discussion {
  position: absolute;
  top: 38px;
  right: 48px; }

.timeline-item img {
  display: inline-block;
  max-width: 10%;
  vertical-align: bottom;
  margin-right: 10px; }

.timeline-item .item-text {
  position: relative;
  display: inline-block;
  width: 80%; }
  .timeline-item .item-text h3 a {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #444;
    transition: 150ms ease; }
    .timeline-item .item-text h3 a:hover {
      text-decoration: none;
      color: #777777; }
  .timeline-item .item-text .timeline-date {
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 0.8;
    font-size: 0.9em; }

.mm-thumbnail {
  border-radius: 50%; }

.mm-comentario {
  display: block;
  min-height: 40px;
  color: #888;
  background-color: #eee;
  padding: 10px;
  margin: 0px;
  margin-bottom: 1px; }

.mm-circulo-foto {
  border: 1px solid #888;
  border-radius: 50%;
  background-color: white;
  padding: 4px; }

.mm-documentos {
  display: block;
  border: 1px solid black;
  height: 100%; }

img.responsable {
  border-radius: 50%; }

.mm-responsable {
  display: inline-block; }

.lista-participantes {
  display: flex;
  justify-content: space-around; }
  .lista-participantes div {
    display: block;
    max-width: 70px; }
    .lista-participantes div img {
      width: 30px;
      height: 30px; }

.lista-empresas {
  display: flex;
  justify-content: space-around; }
  .lista-empresas div {
    display: block;
    max-width: 100px;
    background-color: #d9edf7;
    padding: 10px;
    border-radius: 10px;
    transition: background 500ms;
    border-radius: 10px;
    position: relative; }
    .lista-empresas div .glyphicon-remove {
      transition: opacity 500ms;
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      color: #FA4D09;
      opacity: 0; }
    .lista-empresas div:hover .glyphicon-remove {
      opacity: 1; }

.mm-linea {
  border-color: #aaa;
  margin-bottom: 0px; }

.mm-caja {
  background-color: #ffd351;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  box-shadow: 5px 5px 5px #aaa;
  max-width: 200px;
  text-transform: uppercase;
  float: right; }

/*clases para mostrar el nombre del hito*/
.mm-circulo {
  background-color: #17A2F4;
  width: 126px;
  height: 126px;
  display: block;
  border-radius: 50%;
  color: white;
  font: bold 20px Helvetica, Verdana, Tahoma;
  min-width: 126px;
  text-align: center; }

.mm-circulo span {
  height: 126px;
  display: inline-block;
  vertical-align: middle; }

.mm-circulo p {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin: 0px; }

/*clases para la lista de tareas asociadas a un hito*/
.mm-inline {
  display: inline-block; }

ul.mm-inline {
  padding: 0px; }

.mm-inline li {
  border: 1px solid #444;
  border-radius: 4px;
  line-height: 50px;
  height: 50px;
  margin: 0px;
  margin-right: 15px;
  padding: 0px; }

ul.mm-inline li:not(:first-child) {
  transform: translateY(2px); }

.mm-inline li:not(:first-child) span {
  position: relative;
  left: -8px; }

.mm-inline li span:before {
  font-family: 'Glyphicons Halflings';
  content: "\e092";
  position: relative;
  left: -22px; }

.mm-inline li span {
  padding: 0px 15px 0px 15px;
  margin: 0px; }

.mm-inline li:first-child span {
  padding: 0px 15px 0px 15px;
  margin: 0px; }

.mm-inline li:first-child span:before {
  content: none; }

.mm-box {
  box-shadow: 5px 5px 5px #aaa;
  padding: 5px;
  background-color: #eee;
  min-width: 70px;
  min-height: 40px; }

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.mm-dragndrop div[dnd-list] {
  min-height: 42px;
  padding-left: 0px; }

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.mm-dragndrop div[dnd-list] .dndDraggingSource {
  display: none; }

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.mm-dragndrop div[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px; }

.mm-dragndrop div[dnd-list] div[dnd-draggable] {
  background-color: #ffd351;
  /*border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;*/
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  box-shadow: 5px 5px 5px #aaa; }

/**
 * Show selected elements in green
 */
.mm-dragndrop div[dnd-list] div[dnd-draggable].selected {
  background-color: #dff0d8;
  color: #3c763d; }

/*icono dentro de input text*/
/* enable absolute positioning */
.inner-addon {
  position: relative; }

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none; }

/* align icon */
.left-addon .glyphicon {
  left: 0px; }

.right-addon .glyphicon {
  right: 0px; }

/* add padding  */
.left-addon input {
  padding-left: 30px; }

.right-addon input {
  padding-right: 30px; }

.add-on .input-group-btn > .btn {
  border-left-width: 0;
  left: -2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/* stop the glowing blue shadow */
.add-on .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #cccccc; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.dashed {
  border-style: dashed; }

.color-gris {
  color: #6B6B6B; }

.color-blanco {
  color: white; }

.color-negro {
  color: black; }

.fondo-amarillo {
  background-color: #ffd351; }

.mm-container {
  display: flex; }

.mm-columna {
  flex: 1;
  margin-left: 2px;
  margin-right: 2px; }

.mm-acortar {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  font-weight: normal; }

.mm-descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 75px;
  font-weight: normal; }

.bgFacilitador {
  background-color: #74aed7; }

.bgEmprendedor {
  background-color: #7fcf86; }

.bgMentor {
  background-color: #e1ce95; }

.mm-nav-container {
  margin-right: auto;
  margin-left: auto; }

.btn-header {
  padding: 0px; }

.mm-align-middle {
  display: flex;
  align-items: center; }

.mm-align-bottom {
  display: flex;
  align-items: flex-end; }

p.mm-bottom {
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  padding: 5px;
  margin: 0px; }

p.mm-mid {
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  padding: 5px;
  margin: 0px; }

p.mm-top {
  border-radius: 5px 5px 0px 0px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 0px; }

a.mm-menu {
  color: #444; }

a.mm-menu:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black; }

.mm-columa-derecha {
  display: block;
  height: 100%;
  /*background-color: #eee;*/ }

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.mm-content {
  /*height: 800px;*/
  /*margin: 20px;*/
  /*min-height: 600px;*/ }
  .mm-content h1 {
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 40px;
    display: inline-block; }

/* Set gray background color and 100% height */
.mm-sidenav {
  /*border:1px solid black;*/
  height: 100%; }

.mm-center {
  /*border:1px solid black;*/
  border-left-width: 0px;
  height: 100%;
  padding: 20px; }

/* Kaban */
.panel-default > .panel-heading {
  background-image: none;
  background-color: #f9f9f9;
  min-width: 260px; }

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px; }
  .mm-content {
    height: auto; } }

.task-separator {
  margin: 0px 0px 3px 0px;
  padding: 0px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(59, 118, 164, 0), rgba(59, 118, 164, 0.75), rgba(59, 118, 164, 0)); }

.editar-columna {
  padding-left: 0px; }
  .editar-columna .col-name {
    text-transform: uppercase;
    display: block;
    border: 1px dotted gray;
    border-radius: 4px;
    margin: 2px;
    width: 150px; }
    .editar-columna .col-name .glyphicon {
      float: right;
      color: #FA4D09;
      cursor: pointer;
      transition: opacity 500ms;
      opacity: 0; }
    .editar-columna .col-name:hover .glyphicon {
      opacity: 1; }
  .editar-columna li {
    list-style-type: none; }
