<nav navigation></nav>

<div class="container page-wrap">

  <div class="row">

    <div class="col-md-6">

      <h1 class="form-signin-heading">Login</h1>
      <p class="lead">¿Aún no tienes cuenta? Puedes <a href="register">registrarte acá.</a></p>

      <form ng-submit="vm.onSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" ng-model="vm.credentials.email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar!</button>
      </form>
      </br>
      </br>
      <!--<a class="btn btn-primary" href="http://localhost:3000/api/auth/linkedin" target="_self">Entrar con <img height="20px" src="images/LinkedIn_Logo_2013.svg" /></a>-->
    </div>
    <!--<a ng-click="vm.linkedin()">Login with LinkedIn</a> -->


  </div>

</div>


<div ng-class="(vm.mostrar)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content alert alert-warning">
    <strong>{{vm.mensajeError}}</strong>
  </div>
</div>

<pie></pie>
