<div class="col-md-2 mm-sidenav">
  <h3 class="form-signin-heading">{{projvm.proy.nombre}}</h3>
  <a class="mm-menu" href="#"><p class="mm-top">Muro</p></a>
  <a class="mm-menu" href="kanban/{{projvm.proy._id}}"><p class="mm-mid">Tablero Kanban</p></a>
  <a class="mm-menu" href="#"><p class="mm-mid">Hoja de Ruta</p></a>
  <a class="mm-menu" href="#"><p class="mm-mid">Documentación</p></a>
  <a class="mm-menu" href="#"><p class="mm-mid">Reuniones</p></a>
  <a class="mm-menu" href="#"><p class="mm-mid">Configuración</p></a>
</div>
