<nav navigation></nav>
<div class="container page-wrap">


  <div class="row">
    <div class="col-md-6">
      <h1 class="form-signin-heading">Bienvenido(a): {{vm.user.name}}</h1>
      <form name="fActivar" ng-submit="vm.activar()">
        <div class="activar">
          <div class="form-group">
            <label>Email: </label>
            <input type="email" class="form-control" ng-model="vm.user.email" disabled required />
          </div>
          <div class="form-group">
            <label>Password: </label>
            <input name="pass" type="password" class="form-control" placeholder="Ingresa un password" ng-model="vm.pass" required minlength=5 />
          </div>
          <div class="form-group">
            <label>Repite tu password:</label>
            <input name="pass2" type="password" class="form-control" placeholder="Repite tu password" ng-model="vm.pass2" required minlength=5 />
            <span ng-show="vm.pass!=vm.pass2 && fActivar.pass.$touched && fActivar.pass2.$touched" class="error">
              Los password no coinciden
            </span>
          </div>
          <div class="form-group">
              <label class="control-label">Redes Sociales:<span title="Url de tus perfiles separados por coma." class="glyphicon glyphicon-question-sign"></span></label>
              <ul class="mm-lista">
                <li ng-repeat="red in vm.redesSociales track by $index">
                  <span class="mm-element">{{red}}&nbsp;
                    <span class="glyphicon glyphicon-remove" ng-click="vm.removeSocials(red)"></span>
                    &nbsp;
                  </span>
                </li>
                <li style="width:300px;">
                  <input type="text" placeholder="Copia y pega aquí el link de tu red social" name="red" ng-model="vm.auxSocial" ng-blur="vm.onBlurSocial()" ng-keyup="vm.cambioSocial($event)"/>
                </li>
              </ul>

          </div>
          <div class="form-group">
              <label class="control-label">Habilidades:<span title="Habilidades separadas por coma." class="glyphicon glyphicon-question-sign"></span></label>
              <ul class="mm-lista">
                <li ng-repeat="name in vm.skills track by $index">
                  <span class="mm-element">{{name}}&nbsp;<span class="glyphicon glyphicon-remove" ng-click="vm.remove(name)"></span>&nbsp;</span>
                </li>
                <li>
                  <input type="text" placeholder="Escribe una habilidad"  name="skills" ng-model="vm.aux" ng-blur="vm.onBlur()" ng-keyup="vm.cambio($event)"/>
                </li>
              </ul>

          </div>

          <button ng-disabled="(!fActivar.pass.$touched && !fActivar.pass2.$touched)||(vm.pass!=vm.pass2 && fActivar.pass.$touched && fActivar.pass2.$touched)" class="btn btn-primary">Activar Cuenta</button>
        </div>
      </form>

    </div>
  </div>
</div>

<pie></pie>
