<nav navigation></nav>

<div class="container page-wrap">

  <div class="row">
    <div class="col-md-6">
      <h1>Registrarse</h1>
      <p class="lead">¿Ya tienes una cuenta? Porfavor entra <a href="login"> aquí.</a></p>
      <form ng-submit="vm.onSubmit()">
        <div class="form-group">
          <label for="name">Nombre completo</label>
          <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" ng-model="vm.credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" ng-model="vm.credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password"  required>
        </div>
        <div class="form-group">
          <label for="rol">Rol</label>
          <select class="form-control" ng-model="vm.credentials.rol" id="rol">
            <option value="emprendedor" >Emprendedor</option>
            <option value="facilitador" selected>Facilitador</option>
            <option value="mentor">Mentor</option>
          </select>
        </div>

        <div>
          <div class="form-group">
              <label class="control-label">Redes Sociales:<span title="Url de tus perfiles separados por coma." class="glyphicon glyphicon-question-sign"></span></label>
              <ul class="mm-lista">
                <li ng-repeat="red in vm.credentials.redesSociales track by $index">
                  <span class="mm-element">{{red}}&nbsp;
                    <span class="glyphicon glyphicon-remove" ng-click="vm.removeSocials(red)"></span>
                    &nbsp;
                  </span>
                </li>
                <li>
                  <input type="text" placeholder="Copia y pega aquí el link de tu red social" name="red" ng-model="vm.auxSocial" ng-blur="vm.onBlurSocial()" ng-keyup="vm.cambioSocial($event)"/>
                </li>
              </ul>

          </div>
        </div>

        <div>
          <div class="form-group">
              <label class="control-label">Habilidades:<span title="Habilidades separadas por coma." class="glyphicon glyphicon-question-sign"></span></label>
              <ul class="mm-lista">
                <li ng-repeat="name in vm.credentials.skills track by $index">
                  <span class="mm-element">{{name}}&nbsp;<span class="glyphicon glyphicon-remove" ng-click="vm.remove(name)"></span>&nbsp;</span>
                </li>
                <li>
                  <input type="text"  name="skills" ng-model="vm.aux" ng-blur="vm.onBlur()" ng-keyup="vm.cambio($event)"/>
                </li>
              </ul>

          </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Registrarse!</button>
      </form>
    </div>
  </div>

</div>
<br />
<br />
<pie></pie>
