<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div id="contenido" class="row mm-content">
    <upper-bar name="Configuración"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-11 mm-center">
      <div class="logo-container" >
        <img alt="logo" src="{{vm.proy.image}}" />
        <div ng-click="vm.editarImagen=true" class="editar">
          <span ><strong>Editar<span class="glyphicon glyphicon-pencil"></span></strong></span>
        </div>
      </div>


      <form ng-submit="vm.onSubmit()">
        <div class="form-group">
          <label>Nombre del proyecto : </label>
          <input class="form-control" ng-model="vm.proy.nombre" ng-readonly="vm.user.rol!='emprendedor'"/>
        </div>
        <div class="form-group">
          <label>Descripción Corta: </label>
          <input class="form-control" ng-model="vm.proy.descripcionCorta" ng-readonly="vm.user.rol!='emprendedor'"/>
        </div>
        <div class="form-group">
          <label>Descripción Larga: </label>
          <textarea rows="5" class="form-control" ng-model="vm.proy.descripcionCompleta" ng-readonly="vm.user.rol!='emprendedor'"></textarea>
        </div>

        <div >
          <label>Columnas: <a ng-click="vm.showNew = true"><span class="glyphicon glyphicon-plus"></span></a></label>
          <ul class="editar-columna">
            <li class="col-name" ng-repeat="col in vm.proy.columnas">
              {{col.nombre}}<span class="glyphicon glyphicon-trash" ng-click="vm.eliminarColumna(col)"></span>
            </li>
            <li ng-show ="vm.showNew">
              <input style="text-transform:uppercase" class="bordes-redondos" ng-blur="console.log($event)" ng-model = "vm.nuevaColumna" />
              <button class="btn btn-primary" ng-click="vm.saveNewColumna()">Guardar columna nueva!</button>
            </li>
          </ul>
        </div>

        <div>
          <label>Empresas: <a href="new/empresa/{{vm.proy._id}}"><span ng-show="vm.user.rol=='emprendedor'" class="glyphicon glyphicon-plus"></span></a> </label>
          <div class="lista-empresas">
            <div ng-repeat="empresa in vm.proy.empresas">
              <span ng-show="vm.user.rol=='emprendedor'" class="glyphicon glyphicon-remove" ng-click="vm.modalEmpresa(empresa)"></span>
              <a href="empresa/{{vm.proy._id}}/{{empresa._id}}">{{empresa.nombre}}</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Palabras Clave: <span title="Palabras clave separadas por coma" class="glyphicon glyphicon-question-sign"></span></label>
          <ul class="mm-lista" ng-class="(vm.user.rol!='emprendedor')? 'deshabilitado':''">
            <li ng-repeat="palabra in vm.proy.palabras">
              <span class="mm-element">{{palabra}}&nbsp;<span ng-show="vm.user.rol=='emprendedor'" class="glyphicon glyphicon-remove" ng-click="vm.removePalabra(palabra)"></span>&nbsp;</span>
            </li>
            <li>
              <input type="text" ng-model="vm.palabraAux" placeholder="Nueva Palabra clave" ng-readonly="vm.user.rol!='emprendedor'" ng-blur="vm.onBlurPalabra()" ng-keyup="vm.cambioPalabra($event)"/>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label>Participantes: </label>
          <div class="lista-participantes">
            <div class="mm-miembro" ng-repeat="miembro in vm.proy.participantes" ng-class="(miembro.resaltar)? 'resaltado':'normal' ">
              <span ng-show="vm.user.rol=='facilitador'" class="glyphicon glyphicon-remove" ng-click="vm.modal(miembro)"></span>
              <center>
                <a style="text-decoration: none;" href="profile/{{miembro._id}}">
                  <img class="responsable" ng-src ="{{miembro.thumbnail}}" />
                  <br />
                  <span>{{(miembro.name===undefined)?miembro._source.name:miembro.name}}</span>
                </a>
              </center>
            </div>
          </div>
          <div class="form-group mm-buscador">
            <label>Buscar Nuevos Participantes: </label>
            <input class="bordes-redondos form-control" style="width: 100%;" list="resultados" type="text" ng-model="vm.consulta" ng-model-options='{ debounce: 100 }'
            ng-change='vm.consultarParticipantes()' placeholder="Buscar un participante"/>
            <datalist id="resultados">
              <option ng-repeat="opcion in vm.resultados" value="{{opcion._source.name}}"></option>
            </datalist>

          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="pull-right btn btn-primary">Guardar Cambios!</button>
        </div>

      </form>

      <!--
      descripcionCorta : {type:String},
      descripcionCompleta : {type:String},

      palabras:[{type: String}],
      participantes:[{type: Schema.Types.ObjectId, ref: 'User'}],-->
    </div>



  </div>
</div>


<div ng-class="(vm.preguntarColumna)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content">
    <span ng-click="vm.preguntarColumna = false;" class="glyphicon glyphicon-remove"></span>
    <center>
      <form ng-submit="vm.removeColumna(vm.colSeleccionada)" >
        <h3>¿Está seguro de remover la columna <span style="text-transform:uppercase">{{vm.colSeleccionada.nombre}}</span> de este proyecto?</h3>
        <p>
          Las tareas que se encuentren asociadas a esta columna, serán movidas a la columna por defecto de este proyecto.
        </p>
        <br /><br />
        <button class="btn btn-warning" type="submit">Eliminar!</button>
      </form>
    </center>
  </div>
</div>

<div ng-class="(vm.mostrar)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content">
    <span ng-click="vm.mostrar = false;" class="glyphicon glyphicon-remove"></span>
    <center>
      <form ng-submit="vm.remove(vm.seleccionado)" >
        <h3>¿Está seguro de remover a {{vm.seleccionado.name}} de este proyecto?</h3>
        <img width="200px" ng-src="{{vm.seleccionado.image}}"  /><br /><br />
        <button class="btn btn-warning" type="submit">Eliminar!</button>
      </form>
    </center>
  </div>
</div>

<div ng-class="(vm.preguntarEmpresa)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content">
    <span ng-click="vm.preguntarEmpresa = false;" class="glyphicon glyphicon-remove"></span>
    <center>
      <form ng-submit="vm.removeEmpresa(vm.seleccionada)" >
        <h3>¿Está seguro de remover la empresa {{vm.seleccionada.nombre}} de este proyecto?</h3>
        <br /><br />
        <button class="btn btn-warning" type="submit">Eliminar!</button>
      </form>
    </center>
  </div>

</div>



<div ng-class="(vm.editarImagen)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content">
    <span ng-click="vm.editarImagen = false;" class="glyphicon glyphicon-remove"></span>
    <form ng-submit="vm.subirFotoProy()" >
      <label>Seleccione imagen del proyecto:</label>
      <input type="file" name="imagen" file-model = "vm.foto"/>
      <button class="btn btn-primary" type="submit">Subir</button>
    </form>
  </div>
</div>



<div ng-class="(vm.actualizado)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content">
    <span style="color:green;">El proyecto se actualizo correctamente</span>
  </div>
</div>


<pie></pie>
