<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">
    <upper-bar name="Documentos"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-11 mm-center">

      <div class="doc-container" ng-show="vm.documentos.length>0">
        <ul>
          <li ng-repeat="doc in vm.documentos">
            <h4><a href="{{doc.url}}" download={{doc.nombre}} target="_self" >{{doc.nombre}}</a></h4>
            Subido el: {{doc.fecha | date:'dd/MM/yyyy'}} por <a href="profile/{{doc.creador._id}}">{{doc.creador.name}}</a> a la tarea <a href="{{doc.tareaUrl}}">{{doc.tareaName}}
          </li>
        </ul>
      </div>

    </div>


  </div>
</div>


<pie></pie>
