<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">

    <upper-bar name="Nueva Empresa"></upper-bar>


    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>

    </div>

    <div class="col-md-5 mm-center">

      <form ng-submit="vm.onSubmit()">
        <div class="form-group">
          <label>Cómo se llama la empresa: </label>
          <input class="form-control" ng-model="vm.datos.nombre" ng-readonly="vm.user.rol!='emprendedor'" placeholder="Nombre"/>
        </div>
        <div class="form-group">
          <label>Enlaza tu video : </label>
          <input class="form-control" ng-model="vm.datos.urlvideo" ng-readonly="vm.user.rol!='emprendedor'" placeholder="Ejemplo : https://www.youtube.com/watch?v=kJQP7kiw5Fk"/>
        </div>
        <div class="form-group">
          <label>Qué hace la empresa: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.quehace" ng-readonly="vm.user.rol!='emprendedor'" placeholder="¿Qué hace la empresa? ¿En qué negocio está? ¿Quiénes son los socios? ¿Cuándo la comenzaron? Visión de la empresa."></textarea>
        </div>
        <div class="form-group">
          <label>Industria: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.industria" ng-readonly="vm.user.rol!='emprendedor'" placeholder="¿En qué segmento de industria participa? Ej: Marketplace, construcción, business intelligence"></textarea>
        </div>
        <div class="form-group">
          <label>Estado: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.estado" ng-readonly="vm.user.rol!='emprendedor'" placeholder="¿Está vendiendo? ¿Cuánto financiamiento ha levantado? ¿Cuánto vende? ¿Cuántos clientes tiene? ¿En qué países está? Indicar si tienen financiamiento de CORFO, premios, inversiones previas y de quién (FFF o inversionista formal), patentes o derechos de propiedad intelectual."></textarea>
        </div>
        <div class="form-group">
          <label>Oportunidad: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.oportunidad" ng-readonly="vm.user.rol!='emprendedor'" placeholder="Explicar claramente la oportunidad de negocio que está abordando, qué problema están resolviendo, incluir cifras"></textarea>
        </div>
        <div class="form-group">
          <label>Competencia: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.competencia" ng-readonly="vm.user.rol!='emprendedor'" placeholder="Quiénes son la principal competencia, sobre qué atributos se compite y cuál es la ventaja del emprendimiento"></textarea>
        </div>
        <div class="form-group">
          <label>Solución: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.solucion" ng-readonly="vm.user.rol!='emprendedor'" placeholder="¿Cómo abordan el problema? ¿Cuál es la solución propuesta?"></textarea>
        </div>
        <div class="form-group">
          <label>Clientes: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.clientes" ng-readonly="vm.user.rol!='emprendedor'" placeholder="¿Quiénes son tus clientes? Nómbralos aquí"></textarea>
        </div>
        <div class="form-group">
          <label>Modelo: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.modelo" ng-readonly="vm.user.rol!='emprendedor'" placeholder="Explicación fácil de entender de cómo generan y apropian valor"></textarea>
        </div>
        <div class="form-group">
          <label>Impacto: </label>
          <textarea rows="5" class="form-control" ng-model="vm.datos.impacto" ng-readonly="vm.user.rol!='emprendedor'" placeholder="Impacto social, económico y ambiental"></textarea>
        </div>
        <div>
            <button type="button" class="btn btn-default">Volver</button>
            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <iframe ng-show="vm.urlvideo!=null" width="420" height="315" ng-src="{{vm.urlvideo}}"></iframe>
      <h3>Participantes: </h3>
      <div class="lista-participantes">
        <div ng-repeat="miembro in vm.datos.participantes">
            <center>
              <a style="text-decoration: none;" href="profile/{{miembro._id}}">
                <img class="responsable" width="30px" ng-src ="{{miembro.thumbnail}}" />
                <br />
                <span>{{miembro.name}}</span>
              </a>
            </center>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-class="(vm.saved)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content">
    <span style="color:green;">La empresa se creó correctamente</span>
  </div>
</div>


<pie></pie>
