<nav navigation></nav>

<div class="container page-wrap">

  <div class="row">
    <div class="col-md-6">
      <h1 class="form-signin-heading">Nuevo Proyecto</h1>

      <form ng-submit="vm.onSubmit()" >
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre del proyecto" ng-model="vm.datos.nombre">
        </div>
        <div class="form-group">
          <label for="corta">Descripción Corta:</label>
          <input type="text" class="form-control" id="corta" placeholder="Descripción Pública del proyecto" ng-model="vm.datos.corta">
        </div>
        <div class="form-group">
          <label for="larga">Descripción:</label>
          <textarea rows=5 class="form-control" id="larga" placeholder="Descripción Privada y completa" ng-model="vm.datos.larga"></textarea>
        </div>
        <div class="form-group">
          <label>Palabras clave: <span title="Palabras clave separadas por coma" class="glyphicon glyphicon-question-sign"></span></label>
          <ul class="mm-lista">
            <li ng-repeat="pal in vm.datos.palabras track by $index">
              <span class="mm-element">{{pal}}&nbsp;<span class="glyphicon glyphicon-remove" ng-click="vm.remove(pal)"></span>&nbsp;</span>
            </li>
            <li>
              <input type="text" ng-model="vm.aux" ng-blur="vm.onBlur()" ng-keyup="vm.cambio($event)"/>
            </li>
          </ul>
        </div>
        <button type="button" ng-click="vm.volver()" class="btn btn-default">Cancelar</button>
        <button type="submit" class="btn btn-primary">Siguiente</button>
      </form>
    </div>
  </div>
</div>


<pie></pie>
