<nav navigation></nav>

<div class="container page-wrap">
  <h1 class="form-signin-heading">Nuevo Proyecto: {{vm.datos.nombre}}</h1>

  <div class="mm-nuevo-proyecto">
    <div class="mm-recomendar-mentores">
      <h3>Mentores Seleccionados</h3>

      <div class="mm-mentor" ng-repeat="mentor in vm.datos.mentores">
        <center>
          <div>
            <img width="75px" ng-src={{mentor.imagen}} />
          </div>
          <div>
            <span><b>{{mentor._source.name}}</b></span><br />
            <span>{{mentor._source.email}}</span><br />
            <span>Afinidad : <b>{{mentor.porcentaje}}%</b></span>
            <div class="sociales">
              <span ng-show="mentor.facebook!=''"><a href="{{mentor.facebook}}"></a></span>
              <span ng-show="mentor.twitter!=''"><a href="{{mentor.twitter}}"></a></span>
              <span ng-show="mentor.linkedin!=''"><a href="{{mentor.linkedin}}"></a></span>
            </div>
          </div>
        </center>
      </div>
    </div>
  </div>
  <br />
  <br />
  <form ng-submit="vm.onSubmit()">
  <div class="mm-nuevo-proyecto">
    <div class="contenedor-participantes">
      <div class="mm-buscador">
        <center>
          <h3>Participantes:</h3>
          <div class="mm-tabla-buscador">
            <table ng-hide="vm.participantes.length==0">
              <tr class="mm-participante" ng-repeat="participante in vm.participantes">
                <td>
                  {{participante._source.name}}
                </td>
                <td>
                  {{participante._source.rol}}
                </td>
                <td style="width:20px">
                  <a ng-click="vm.quitar(participante)"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </td>
              </tr>
            </table>

            <div ng-show="vm.participantes.length==0">
              <div class="cajita">Aún no has agregado ningún emprendedor</div>
            </div>
          </div>
          <div>
            <input class="bordes-redondos" style="width: 60%;" list="resultados" type="text" ng-model="vm.consulta" ng-model-options='{ debounce: 100 }'
            ng-change='vm.consultarParticipantes()' placeholder="Buscar un participante"/>
            <span class="glyphicon glyphicon-search"></span>
            <datalist id="resultados">
              <option ng-repeat="opcion in vm.resultados"  value="{{opcion._source.name}}"></option>
            </datalist>
          </div>
        </center>
      </div>
      <div class="mm-invitador">
        <center>
          <h3>Invitados:</h3>
          <div ng-repeat="invitado in vm.invitados">
            <ul>
              <li class="invitado" >
                {{invitado.correo}}
                <span ng-click="vm.quitarInvitado(invitado)" class="glyphicon glyphicon-remove-sign"></span>
              </li>
            </ul>
            <span ng-click="vm.mostrarInvitacion=!vm.mostrarInvitacion" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></span>

          </div>
          <div ng-show="vm.invitados.length==0">
            <div class="cajita">Aún no has invitado a nadie en este proyecto</div>
            <div>
              <span ng-click="vm.mostrarInvitacion=!vm.mostrarInvitacion" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></span>
            </div>
          </div>
        </center>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="mm-botones">
    <button type="button" ng-click="vm.volver()" class="btn btn-default">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar Proyecto!</button>
  </div>
</form>

</div>


<div class="mm-modal" ng-class="(vm.saved)? 'mm-mostrar': 'mm-ocultar' " >
  <div class="mm-modal-content alert alert-success">
    <center>
      <strong>
        El proyecto se guardo correctamente.
      </strong>
    </center>
  </div>
</div>



<pie></pie>




<div class="mm-modal" ng-class="(vm.mostrarInvitacion)? 'mm-mostrar': 'mm-ocultar' " ng-click="vm.mostrarInvitacion=false;" >
  <div class="mm-modal-content" ng-click="$event.stopPropagation()">
    <span ng-click="vm.mostrarInvitacion=false;" class="glyphicon glyphicon-remove"></span>
    <div class="formulario">
      <form ng-submit="vm.invitar()">
        <div class="entradas">
          <label>Invitar a un participante a la plataforma:</label>
          <input class="form-control" type="text" ng-model="vm.nameInvitado" placeholder="Nombre" required/>
          <input class="form-control" type="email" ng-model="vm.invitacion" placeholder="Email" required/>
          <textarea class="form-control" rows="5" ng-model="vm.textoInvitacion" placeholder="Escribe aquí tu invitación"></textarea>
        </div>
        <div class="boton">
          <center>
            <button class="btn btn-default">
              Invitar
            </button>
          </center>
        </div>
      </form>
    </div>
  </div>
</div>
