<nav navigation></nav>

<div class="container page-wrap">
  <h1 class="form-signin-heading">Nuevo Proyecto: {{vm.datos.nombre}}</h1>

  <form ng-submit="vm.onSubmit()">
  <div class="mm-nuevo-proyecto">
      <div class="mm-recomendar-mentores">
        <h3>Mentores Recomendados <span class="glyphicon glyphicon-question-sign" title="Seleccione a los mentores con los que desea trabajar"></span></h3>

        <div class="mm-mentor" ng-repeat="mentor in vm.recomendados">
          <center>
            <div>
              <img ng-click="mentor.cliqueado=!mentor.cliqueado" class="mm-mentor-img" ng-class = "{'seleccionada': mentor.cliqueado}" width="75px" ng-src={{mentor.imagen}} />
            </div>
            <div>
              <span><b>{{mentor._source.name}}</b></span><br />
              <span>{{mentor._source.email}}</span><br />
              <span>Afinidad : <b>{{mentor.porcentaje}}%</b></span>
              <div class="sociales">
                <span ng-show="mentor.facebook!=''"><a href="{{mentor.facebook}}"></a></span>
                <span ng-show="mentor.twitter!=''"><a href="{{mentor.twitter}}"></a></span>
                <span ng-show="mentor.linkedin!=''"><a href="{{mentor.linkedin}}"></a></span>
              </div>
            </div>
          </center>
        </div>
        <div ng-show="vm.mostrarAlerta">
          <span>No se encontraron mentores con las siguientes palabras clave</span>
          <ul>
            <li ng-repeat="pal in vm.datos.palabras track by $index">
              <span>{{pal}}</span>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="mm-botones">
    <span ng-show="vm.saved">El proyecto se guardo correctamente</span>
    <button type="button" ng-click="vm.volver()" class="btn btn-default">Cancelar</button>
    <button type="submit" class="btn btn-primary">Siguiente!</button>
  </div>
</form>

</div>


<!--<div ng-class="(vm.mostrarAlerta)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content alert alert-warning">
    <a href="#" ng-click="vm.mostrarAlerta = false" class="close"  aria-label="close">&times;</a>
    <center>
      <strong>Las palabras clave ingresadas no coincidieron con ninguno de los expertos registrados.</strong>
    </center>
  </div>
</div>-->

<pie></pie>
