<nav navigation></nav>

<div class="col-md-1 side-menu-background"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">
  <div class="row mm-content">

    <upper-bar name="Tablero Kanban - Nueva Tarea"></upper-bar>

    <div class="col-md-1 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-10 mm-center mm-container">

        <form class="form-horizontal" ng-submit="vm.onSubmit()">
          <div class="form-group col-xs-12">

              <input class="form-control" type="text" placeholder="Título" name="titulo" ng-model="vm.datos.nombre"/>

          </div>
          <div class="form-group col-xs-12">
            <textarea class="form-control" rows="6" name="descripcion" placeholder="Descripcion de la actividad" ng-model="vm.datos.descripcion"></textarea>
          </div>
          <div class="form-group col-xs-12">
            <fieldset class="form-inline">


              <div class='input-group'>

                <input id="datepicker-ini" jqdatepicker ng-model="vm.datos.fechaini" type='text' class="form-control" placeholder="Fecha de inicio" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
              <div class='input-group'>
                <input id="datepicker-fin" jqdatepicker ng-model="vm.datos.fechafin" type='text' class="form-control" placeholder="Fecha de término" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </fieldset>
          </div>
          <div class="form-group col-xs-12">
              <!--<label class="control-label">Responsables separados por coma:</label>
              <ul class="mm-lista">
                <li ng-repeat="name in vm.datos.responsables">
                  <span class="mm-lista">{{name}}&nbsp;<span class="glyphicon glyphicon-remove" ng-click="vm.remove(name)"></span>&nbsp;</span>
                </li>
                <li>
                  <input type="text"  name="responsables" ng-model="vm.aux" ng-blur="vm.onBlur()" ng-keyup="vm.cambio($event)"/>
                </li>
              </ul>-->
              <label class="control-label">Buscar responsables:</label>
              <ul class="mm-lista">
                <li ng-repeat="responsable in vm.datos.responsables">
                  <span class="mm-element">{{responsable._source.name}}&nbsp;<span class="glyphicon glyphicon-remove" ng-click="vm.remove(responsable)"></span>&nbsp;</span>
                </li>
                <li>
                  <input list="resultados" type="text" name="responsables" ng-blur="vm.onBlur()" ng-model="vm.aux" ng-model-options='{ debounce: 100 }'
                  ng-change='vm.consultarParticipantes()' />
                </li>
              </ul>
              <datalist id="resultados">
                <option ng-repeat="opcion in vm.resultados" value="{{opcion._source.name}}"></option>
              </datalist>
          </div>
          <div class="form-group col-xs-12">
              <label class="control-label">Documento:</label>
              <input type="file" class="form-control" file-model = "vm.datos.documentos" />
          </div>
          <div class="form-group col-xs-12">
            <br/>
            <br/>
            <br/>
            <br/>
            <button type="button" ng-click="vm.volver()" class="btn btn-default">Cancelar</button>
            <button type="submit" class="btn btn-primary pull-right">Crear Actividad</button>
          </div>
        </form>


    </div>
  </div>
</div>


<div ng-class="(vm.saved)? 'mm-mostrar': 'mm-ocultar' " class="mm-modal">
  <div class="mm-modal-content">
    <span style="color:green;">Tarea creada correctamente</span>
  </div>
</div>


<pie></pie>
