<nav navigation></nav>

<div class="container page-wrap">
  <div ng-show="vm.currentUser.rol=='facilitador'" class="row">
    <div class="col-md-2 offset-md-10 mm-columa-derecha">
      <div style="margin-top:20px;">

          <a type="button" class="btn btn-primary" href="/new/project/">Agregar Proyecto <span class="glyphicon glyphicon-plus"></span></a>

      </div>
    </div>
  </div>
  <h2>Mis proyectos</h2>  
  <div class="row list-proyectos" ng-show="vm.tieneProyecto">
    <div class="project-card" ng-repeat="project in vm.list" >
      <div class="project-card-logo" style="background-image:url('{{project.image}}')" ></div>
      <div class="project-card-text">
        <h3 style="width:260px !important" class="mm-acortar"><a title="{{project.nombre}}" href="muro/{{project._id}}" ng-click="setId('{{project._id}}')">{{project.nombre}}</a></h3>
        <p class="mm-descripcion project-card-description">{{project.descripcionCompleta}} </p>
        <!--<div class="project-card-members">
          <img ng-repeat="p in project.participantes" src="{{p.thumbnail}}" title="{{p.name}}"/>
        </div>-->

        <div class="project-card-members">
          <div class="member-list mm-emprendedores">
            <img src="images/user/facilitadores-celeste.svg" />
            <ul>
              <li>
                <b>Emprendedores</b>
              </li>
              <li ng-repeat="emp in project.emprendedores">
                <a href="profile/{{emp._id}}"><img src={{emp.thumbnail}} /><span>{{emp.name}}</span></a>
              </li>
            </ul>
          </div>
          <div class="member-list mm-facilitadores">
            <img src="images/user/facilitadores-morado.svg"/>
            <ul>
              <li>
                <b>Facilitadores</b>
              </li>
              <li ng-repeat="fac in project.facilitadores">
                <a href="profile/{{fac._id}}"><img src={{fac.thumbnail}} /><span>{{fac.name}}</span></a>
              </li>
            </ul>
          </div>
          <div class="member-list mm-mentores">
            <img src="images/user/facilitadores-naranja.svg"/>
            <ul>
              <li>
                <b>Mentores</b>
              </li>
              <li ng-repeat="men in project.mentores">
                <a href="profile/{{men._id}}"><img src={{men.thumbnail}} /><span>{{men.name}}</span></a>
              </li>
            </ul>
          </div>
        </div>

        <p class="project-card-date">Actualizado el {{project.updatedAt|date:'dd-MMM'}}</p>

      </div>
    </div>
  </div>
  <div class="col-md-10" ng-show="!vm.tieneProyecto" align = "center">

    <img src="/images/no-project.png" />
    <h3 class="color-gris">Aún no has creado ningún proyecto</h3>
    <!--<form ng-show="vm.currentUser.rol=='facilitador'" method="get" action="new/project">
      <div class="input-group">
        <input type="text" class="form-control dashed" name="proyName" placeholder="Nombre de Nuevo Proyecto"/>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </form>-->
  </div>
</div>



<pie></pie>
