<nav navigation></nav>

<div class="col-md-2 side-menu-background" ng-hide="vm.sinProyecto"></div><!-- fondo menu lateral-->
<div class="container-fluid text-left page-wrap">

  <div class="row mm-content" ng-hide="vm.sinProyecto">
    <div class="col-md-2 col-side-menu">
      <side-bar></side-bar>
    </div>

    <div class="col-md-10 mm-center">

      <div>{{vm.proy.descripcionCorta}}</div>
      <div>{{vm.proy.descripcionCompleta}}</div>

      <div ng-repeat="entrada in vm.tasks">
        <div><h3>{{entrada.nombre}}</h3></div>
        <div>{{entrada.descripcion}}</div>
      </div>

    </div>
  </div>

  <div ng-show="vm.sinProyecto">
    <h3>Aún no has creado ningún proyecto</h3>
    <form method="get" action="nuevo/proyecto/">
      <!--<div class="inner-addon right-addon">
        <i class="glyphicon glyphicon-plus"></i>
        <input type="text" class="form-control dashed" name="proyName" placeholder="Nuevo Proyecto"/>
      </div>-->
      <div class="input-group">
        <input type="text" class="form-control dashed" name="proyName" placeholder="Nuevo Proyecto"/>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </div>
      </div>
    </form>
  </div>


</div>


<pie></pie>
