<nav navigation></nav>

<div class="container page-wrap">

  <div class="row">
    <div class="col-md-6">
      <h1 class="form-signin-heading">Nuevo Proyecto</h1>

      <form ng-submit="vm.onSubmit()" >
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre del proyecto" ng-model="vm.datos.nombre">
        </div>
        <div class="form-group">
          <label for="corta">Descripción:</label>
          <input type="text" class="form-control" id="corta" placeholder="Descripción Pública del proyecto" ng-model="vm.datos.corta">
        </div>
        <div class="form-group">
          <label for="larga">Descripción:</label>
          <textarea rows=5 class="form-control" id="larga" placeholder="Descripción Privada y completa" ng-model="vm.datos.larga"></textarea>
        </div>
        <div class="form-group">
          <label for="facilitador">Facilitador:</label>
          <select class="form-control"  id="facilitador" ng-model="vm.datos.facilitador">
             <option ng-selected="{{facilitador.selected}}" ng-repeat="facilitador in vm.list" value="{{facilitador._id}}">{{facilitador.name}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Guardar!</button><p ng-show="vm.saved" style="color:green">Datos guardados correctamente!</p>
      </form>
    </div>
  </div>
</div>


<pie></pie>
