<nav navigation></nav>

<div class="container">
  <div class="row">

     <div class="col-md-6">

      <h1 class="form-signin-heading">Selecciona tu rol</h1>
      <form  class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="form-group">
          <label for="rol">Rol</label>
          <select class="form-control" ng-model="vm.user.rol" id="rol">
            <option value="emprendedor" selected>Emprendedor</option>
            <option value="facilitador">Facilitador</option>
            <option value="mentor">Mentor</option>
          </select>

       </div>

       <div>
          <div class="form-group">
              <label class="control-label">Habilidades:</label>
              <input class="form-control" type="text"  name="skills" ng-model="vm.aux" ng-blur="vm.onBlur()" ng-keyup="vm.cambio($event)" placeholder="Habilidades separadas por coma."/>
          </div>
          <div ng-repeat="name in vm.user.skills">
            <span class="label label-default">{{name}}<span class="glyphicon glyphicon-remove" ng-click="vm.remove(name)"></span></span>
          </div>

          <br/>
        <button type="submit" class="btn btn-default">Finalizar!</button>
      </form>

  </div>
</div>

<pie></pie>
