<footer class="site-footer">
  <div class="footer-branding">
    <img alt="Logo Ematris" src="/images/logo-ematris.png" />
    <div class="branding-text">
      <a target="_blank" href="http://www.incubando.me">Incubando.me</a> es un servicio desarrollado por <a target="_blank" href="http://www.ematris.cl">ematris</a>
    </div>
  </div>
  <div class=contact-info>
    Tel. +56 2 2334 8907 <br />
    San Crescente 416, subterráneo<br />
    Las Condes<br />
    Santiago de Chile<br />
    incubandome@ematris.cl<br />
  </div>
  <div class="author">
    Desarrollado por <a target="_blank" href="http://www.citiaps.cl">Citiaps</a>
  </div>
</footer>
