<a class="brand" href="/">
 <img alt="logo" src="/images/logo-incubando.svg" />
</a>
<ul class="navigation">
  <!--<li ng-show="navvm.isEmprendedor"><a href="proyecto/{{navvm.currentUser._id}}">Proyecto</a></li>
  <li ng-show="navvm.isFacilitador || navvm.isMentor"><a href="list/project">Proyectos</a></li>-->
  <li ng-show="navvm.isLoggedIn"><a href="list/project">Proyectos</a></li>
  <!--<li ng-show="navvm.isLoggedIn"><a href="profile">Perfil</a></li>-->
  <li ng-show="navvm.isLoggedIn"><a href ="/" >Ayuda</a></li>
  <li ng-show="navvm.isLoggedIn"><a href ="/" >Acerca de</a></li>
  <!--<li ng-show="navvm.isLoggedIn"><a href ="/" ng-click="navvm.logout()"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>-->
  <!-- pongo unos acentos para forzar a que guarde en utf8 áéíóú -->
  <li ng-hide="navvm.isLoggedIn"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

</ul>

<div  class="user-info" ng-show="navvm.currentUser != undefined">
<div class="user-text">
  <div class="user-name">
    {{navvm.currentUser.name}}
  </div>
  <div class="user-role">
    {{navvm.currentUser.rol}}
  </div>
</div>

<div class="user-image">
  <img src={{navvm.currentUser.image}}/>
  <span class="fa fa-sort-desc" aria-hidden="true"></span>
  <ul class="user-options">
    <li>
      <a href="profile">Perfil</a>
    </li>
    <li>
      <a href ="/" ng-click="navvm.logout()"> Salir</a>
    </li>
  </ul>
</div>
</div>
