<nav navigation></nav>

<div class="container page-wrap">
  <h1 class="form-signin-heading">{{vm.titulo}}</h1>

  <form ng-show ="!vm.noExiste">
    <div class="perfil">
      <div class="imagen">
        <center>
        <img width="200px" ng-src="{{vm.user.image}}" />
        <div ng-show="vm.edit" >
            <button class="btn btn-default" ng-click="vm.mostrar = true;">Cambiar imagen</button>
        </div>
      </center>
      </div>
      <div class="datos">
        <div  ng-show="vm.edit">
          <label >Nombre completo</label>
          <span>{{ vm.user.name }}</span>
        </div>
        <div ng-show="vm.edit" >
          <label>Correo electrónico</label>
          <span>{{ vm.user.email }}</span>
        </div>
        <div >
          <label>Redes Sociales</label>
          <span>
            <span ng-repeat="red in vm.user.redes">
               <a title="{{red.url}}" href="{{red.url}}" target="_blank"><img width="30px" src="{{red.img}}" /></a>
            </span>
          </span>
        </div>

        <div >
          <label >Rol</label>
          <span>{{ vm.user.rol }}</span>
        </div>

        <div ng-show="vm.user.skills.length>0">
          <label >Habilidades </label>
          <span> <span class="mm-element" ng-repeat="skill in vm.user.skills">{{ skill }}</span></span>
        </div>
      </div>
    </div>
  </form>
</div>


<div ng-show="vm.mostrar" class="mm-modal">
  <div class="mm-modal-content">
    <span ng-click="vm.mostrar = false;" class="glyphicon glyphicon-remove"></span>
    <form ng-submit="vm.subirFoto()" >
      <label>Seleccione imagen de perfil:</label>
      <input type="file" name="imagen" file-model = "vm.foto"/>
      <button type="submit">Subir</button>
    </form>
  </div>
</div>

<pie></pie>
