<div class="side-menu"><!--btn-group-vertical-->
  <a class="side-menu-item" ng-class="{active: vm.path == 'muro' }" href="muro/{{vm.proy._id}}">
    <span class="menu-icon"><img alt="menu icon" src="/images/ico-timeline.svg"/></span>
    <p class="">Muro </p>
  </a>
  <a class="side-menu-item" ng-class="{active: vm.path == 'kanban'}"  href="kanban/{{vm.proy._id}}">
    <span class="menu-icon"><img alt="menu icon" src="/images/ico-kanban.svg"/></span>
    <p class="">Tablero Kanban</p>
  </a>
  <a class="side-menu-item" ng-class="{active: vm.path == 'ruta'}" href="ruta/{{vm.proy._id}}">
    <span class="menu-icon"><img alt="menu icon" src="/images/ico-roadmap.svg"/></span>
  <p class="">Hoja de Ruta</p>
  </a>
  <a class="side-menu-item" ng-class="{active: vm.path == 'documentos'}" href="documentos/{{vm.proy._id}}">
    <span class="menu-icon"><img alt="menu icon" src="/images/ico-documents.svg"/></span>
  <p class="">Documentos</p>
  </a>
  <a class="side-menu-item" ng-class="{active: vm.path == 'configuracion'}" href="configuracion/{{vm.proy._id}}">
    <span class="menu-icon"><img alt="menu icon" src="/images/settings.svg"/></span><!-- http://www.flaticon.com/free-icon/settings_148913#term=configuration&page=1&position=19 -->
  <p class="">Configuración</p>
  </a>
  <!--<a class="side-menu-item" ng-class="{active: vm.path == 'reuniones'}" href="reuniones/{{vm.proy._id}}">
    <span class="menu-icon"><img alt="menu icon" src="/images/ico-meeting.svg"/></span>
    <p class="">Reuniones</p>
  </a>
  <a class="side-menu-item" ng-class="{active: vm.path == ''}" href="#">
    <span class="menu-icon"><img alt="menu icon" src="/images/ico-participants.svg"/></span>
    <p class="">Participantes</p>
  </a>-->

</div>
