<nav navigation></nav>

<div class="container page-wrap">

  <h1>Bienvenido</h1>

  <p>Si tienes cuenta entra <a href="login">aca</a> o si no, puedes <a href="register">registrarte</a></p>
  <!--<div ng-if="vm.isLoggedIn()">
  	 <button ng-click="vm.logoutLinken()" class="btn btn-default">Cerrar sesion Linkedin</button>
  </div>-->

  <div class="container-inicio">
    <div class="mensaje-inicio">
      <p>
      <h4><strong>Plataforma de mentoría colaborativa para emprendedores</strong></h4>
      <img class="logo" src="images/logo-incubando.svg"/> es un espacio de asesoría por parte de un grupo de mentores multidisciplinarios que discuten temas estratégicos de tu empresa.
      </p>

      <p>
        Los beneficios de este enfoque son:
        <ul>
          <li>
              En lugar de un mentor que te dice lo que hacer, ofrecemos conversaciones de aprendizaje para mejorar el rendimiento de tu empresa y tus capacidades como emprendedor.
          </li>
          <li>
              Facilitación de los temas y sugerencias por parte de un consultor ematris que registra las conclusiones y hallazgos
          </li>
          <li>
              Conversación disciplinada y diseñada en base a la metodología de Sprint de Google Ventures
          </li>
        </ul>
      </p>
    </div>
    <div class="video">
      <iframe width="480" height="250" src="https://www.youtube.com/embed/ddD2p4ZWCRU?rel=0&vq=large"></iframe>
    </div>
  </div>
</div>

<pie></pie>
